p {
   color: #A38C36;
   text-align: justify;
}
h1 {
    color: #2A36A3;
}

h2 {
    color: #2A36A3;
}

body {
    background-color: #FFFCF5;
    margin-top: 05%;
    margin-left: 05%;
    margin-right: 05%;
    font-family: Arial, Helvetica, sans-serif;
}