p {
   color: #A38C36;
   text-align: justify;
}
h1 {
    color: #2A36A3;
    padding: 12px;
}

h2 {
    color: #2A36A3;
}

body {
    background-color: #FFFCF5;
    margin-top: 05%;
    margin-left: 1cm;
    margin-right: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}
#paragrafoinicial{
    color: #2A36A3;
}

.imagem1{
    
}